Repository Kami/python-codecov-flags-test: changes, and which Codecov flags are due for each by the changed paths.
All: service1, service2, service3

codecov.yml:

coverage:
  status:
    project:
      default: off
      service_one:
        flags: service1
        target: 80%
      service_two:
        flags: service2
        target: 80%
      service_three:
        flags: service3
        target: 80%

flags:
  service1:
    paths:
      - service1/
  service2:
    paths:
      - service2/
  service3:
    paths:
      - service3/

Fix typo.
  .travis.yml
Due: none

Add readme.
  README.md
Due: none

Test a change which increases code coverage for service1.
  service1/tests/unit/test_app.py
Due: service1

Update codecov config.
  codecov.yml
Due: none

Add in changes from a branch.
  codecov.yml
Due: none

Update readme.
  README.md
Due: none

Test a circle config change.
  codecov.yml
Due: none

Test change against service2 which decreases code coverage.
  service2/tests/unit/test_app.py
Due: service2

Try decreasing coverage even further.
  service2/tests/unit/test_app.py
Due: service2

Fix typo.
  README.md
Due: none

Remove imports.
  service2/tests/unit/test_app.py
Due: service2

Add imports back.
  service2/tests/unit/test_app.py
Due: service2

Add untested code which should decrease coverage.
  service2/src/app.py
Due: service2

Make sure test coverage is also reported for tests.
  service1/tests/__init__.py
  service1/tests/unit/__init__.py
  service2/tests/__init__.py
  service2/tests/unit/__init__.py
  service3/tests/__init__.py
  service3/tests/unit/__init__.py
Due: service1, service2, service3
